/* Social media buttons */

.social-buttons {
  position: absolute;
  left: 1rem;
  top: 4rem;
  display: flex;
  flex-direction: column;
}

.social-buttons a {
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: rgb(38, 200, 119);
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4px 0;
}

.social-buttons a::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #a3a1a1, #0f0f0f);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before {
  transform: scale(0);
}

.social-buttons a i {
  transition: 0.3s ease-in;
}

.social-buttons a:hover i {
  background: linear-gradient(45deg, rgb(38, 200, 119), #0f0f0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}

/* Header menu/buttons */
#myHeader {
  background-color: none;
  border-width: 1px;
  color: rgb(38, 200, 119);
  padding: 30px;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}

/* Buttons */
.round-button {
  display:inline-block;
  width:100px;
  height:100px;
  line-height:100px;
  border: 2px solid rgb(38, 200, 119);
  border-radius: 50%;
  color:rgb(38, 200, 119);
  text-align:center;
  text-decoration:none;
  background: rgba(94, 94, 96, 0.712);
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
}

.round-button:hover {
  background: rgba(0, 0, 0, 0.582);
  color:rgb(38, 200, 119);
}

/* Headers and fonts */
h1 {
  font-family:'Ubuntu Condensed', sans-serif;
  font-size: 40px;
}

h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 60px;
  color:rgb(38, 200, 119)
}

h3 {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 30px;
}

h4 {font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 17px;
}

h5 {font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 25px;
  font-style: italic;
  text-align: center;
  box-sizing: content-box;  
  width: 200px;
  height: 200px;
  line-height: 200px;
  padding: 30px;  
  margin:auto;
  border: 5px solid rgb(38, 200, 119);
  border-radius: 50%;
  color:rgb(0, 0, 0);
}

p {font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  color:rgb(0, 0, 0);
  text-decoration: bold; 
}

/* Background */
body {
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: none; 
}

html { 
  background: url(https://img.freepik.com/free-vector/halftone-dots-background-with-circles_23-2148907693.jpg?w=1380&t=st=1680194657~exp=1680195257~hmac=384a8ee628aa0c811245a4094993a1e2db3634a2e4fdd4afe53a73b220fc2fd3) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Center content */
.content {
  max-width: 800px;
  margin: auto;
  background: rgba(94, 94, 96, 0.89);
  padding: 50px;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  color:rgb(0, 0, 0);
  border-color:rgb(38, 200, 119);
  border-radius: 40px;
}

/* Images */
img {
  width: 100%;
  height: auto;
  border-style:solid;
  border-color: black;
  border-width: 5px;
}

/* Icons */

/* Footer */
footer {
  text-align: center;
  padding: 40px;
  background-color: none;
}